.gcloudignore
.git
.gitignore

# Ignore dependencies and build artifacts
node_modules/
**/node_modules/
dist/
**/dist/
.next/
**/.next/

# Ignore local environment files
.env*
**/.env*

# Ignore secrets
**/service-account.json
**/serviceAccountKey.json
**/*-firebase-adminsdk-*.json
